{% load static %}
<!--footer section-->
<div class="row mt-5 bg-light p-3">
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      2nd Floor, Ishaan Arcade-1, Opposite Gaondevi Mandir,
      Above Canara bank, Gokhale Road 
      Thane(West) 400602
      <p><i class="bi-telephone-fill text-danger"></i>&nbsp;&nbsp;&nbsp;9999999999</p>
      <p><i class="bi-envelope-fill text-danger"></i>&nbsp;&nbsp;&nbsp;abc@gmail.com</p>
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="index.html">Home</a></p>
      <p><a href="about.html">About</a></p>
      <p><a href="contact.html">Contact</a></p>
      <p><a href="cart.html">Cart</a></p>
     </div>
     <div class="col-md-4">
      <h5>Connect with us</h5>
      <hr>
      <h5><a href="https://www.facebook.com/"><i class="bi-facebook text-danger"></i></a></h5>
      <h5><a href="https://www.instagram.com/"><i class="bi-instagram text-danger"></i></a></h5>
      <h5><a href="https://www.twitter.com/"><i class="bi-twitter text-danger"></i></a></h5>    
     </div>
   </div>
  </div>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>